.EmotionsPage {
    text-align: center;
    background-color: #FCF7F3;
}

.EmotionsPage-header {
    background-color: #FCF7F3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.EmotionsPage-IntroText {
    /* You got the most likes on */
    position: absolute;
    width: 450px;
    height: 36px;
    left: 840px;
    top: 219px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    text-align: center;

    color: #000000;
}

.EmotionsPage-CategoryText {
    /* selfies */
    position: absolute;
    width: 266px;
    height: 107px;
    left: 925px;
    top: 247px;

    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 78px;
    line-height: 107px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.EmotionsPage-InfoText {
    /* Out of your top liked posts, 45% of them were selfies...*/ 
    position: absolute;
    width: 504px;
    height: 145px;
    left: 813px;
    top: 373px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;
    text-align: center;

    color: #000000;
}

.EmotionsPage-items{
    white-space: nowrap;
    margin-left: 25px;
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
}

.EmotionsPage-logo{
    white-space: nowrap;
    margin-right: 500px;
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
}

.EmotionsPage-ListItems{
    white-space: nowrap;
    margin-left: 50px;
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
}

.EmotionsPage-leftBarItems{
    white-space: nowrap;
    padding-top: 16px;
    padding-right: 16px;
}

.EmotionsPage-rightBarItems{
    white-space: nowrap;
    padding-top: 30px;
    padding-right: 16px;
}

#list{
    overflow-x:scroll;
    white-space:nowrap;
}

#menuList{
    overflow-x:scroll;
    white-space:nowrap;
    float:right;
    margin-right: 0;
    align: right;
}

#navbar{
    overflow-x:scroll;
    white-space:nowrap;
}

#leftbar{
    margin-top: 50px;
    float:left;
}

#rightbar{
    margin-bottom: 50px;
    float:right;
}

#smaller_bar {
    height: auto; 
    width: auto; 
}
